/* ==========================================================================
   button / component
   ========================================================================== */

.button {
   font-family: var(--font-secondary);
   font-size: var(--font-size-button);
   text-transform: uppercase;
}
