/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #202020;

    // Couleurs du projet
    --color-primary: #244441;
    --color-primary-lighter: #3e635e;
    --color-secondary: #debe6c;
    --color-tertiary: #9b582e;
    --color-quaternary: #b99052;

    --color-neutral-light: #fffffc;
    --color-neutral-dark: #f5f2e8;

    --color-fail: #f6511d;
}
