<!DOCTYPE html>
<html lang="fr" class="snackbar-is-hidden">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="../assets/favicon/site.webmanifest">
        <link rel="mask-icon" href="../assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="../assets/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="../assets/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <title>{{ title }} | Recette en pot</title>
        <link rel="stylesheet" href="styles/main.css" />
        <script src="scripts/main.js" defer></script>
    </head>

    <body>
        {% include '_topbar.html' %}
        <header data-component="Header">
            <div class="wrapper">
                <nav>
                    <a class="logo" href=""><img src="assets/images/logo.png" alt="" /></a>
                    <ul class="desktop">
                        <li><a href="index.html" class="button">Accueil</a></li>
                        <li><a href="formulaire.html" class="button" data-component="Modal" data-modal-id="tpl-modal">Créer une campagne</a></li>
                        <li><a href="" class="button">Contribuer à une campagne</a></li>
                        <li><a href="" class="button">Boutique</a></li>
                        <li><a href="" class="button">À propos</a></li>
                    </ul>
                    <ul class="responsive">
                        <a href="#" class="js-toggle">
                            <svg class="icon">
                                <use xlink:href="#icon-menu"></use>
                            </svg>
                        </a>
                    </ul>
                </nav>
            </div>
        </header>
        {% include '_modal.html' %}